.mainSelector {
    padding: 0;
    margin-left: 1%;
    width: 98%;
    height: 50px;
    background-color: lightgray;
    color: #706075;
    border-radius: 5px;
    border: 1px black solid;
    font-size: large;
    color: black;

    text-align-last: center;
    text-align: center;/*FF*/
}