.mainSelector {
    padding: 0;
    margin-left: 1%;
    width: 98%;
    height: 50px;
    background-color: lightgray;
    border-radius: 5px;
    border: 1px black solid;
    font-size: large;
    color: black;
    cursor: pointer;

    text-align-last: center;
    text-align: center;/*FF*/
    z-index: 1;
}
.mainSelector:hover {
    background-color: white;
}
.field{
    background-color: green;
}
.Dropdown-placeholder {
    color: pink;
}
.Dropdown-root{
    background-color: black;
}