@import url(https://fonts.googleapis.com/css?family=Oxygen);@import url(https://fonts.googleapis.com/css?family=Philosopher);.headerStyle {
    box-sizing: border-box;
    width: 100%;
    color: #706075;
    font-size: xx-large;
    font-weight: 800;
    font-family: 'Oxygen', sans-serif;
    background-color: lightgray;
    display: inline-flex;

}
.leftBar {
    height: 100%;
    width: 30%;
    min-width: 270px;
}
.yMap {
    display: flex;
    width: 70%;
}.listField{
    height: 515px;
    width: 105%;
    overflow-y: scroll;
}
.listItem {
    padding-left: 5px;
    margin: 1% 2% 1% 1%;
    border : solid 1px black;
    border-radius: 5px;
    background-color: white;

    display: flex;
    flex-flow: column nowrap;
}
.shopTitle{
    font-size: x-large;
    font-family: 'Philosopher';

}.mainSelector {
    padding: 0;
    margin: 5px 0 0 5px;
    width: 96%;
    height: 50px;
    background-color: lightgray;
    color: #706075;
    border-radius: 5px;
    border: 1px black solid;

    text-align-last: center;
    text-align: center;/*FF*/
}.contentStyle {
    padding: 0;
    margin-top: -4px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background-color: lightgray;

}
@media screen and (max-width: 600px){
    .contentStyle {
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: stretch;

    }
    .leftBar {
        width: 90%;
        margin-right: 10% ;
    }
    .yMap {
        width: 90%;
        height: 300px;
        margin-right: 10%;
    }
    .listField {
        border-bottom: black 2px solid;
    }
    .cut {
        width: 100%;
        overflow: hidden;
    }
    .mainSelector {
        width: 99%;
    }

}