@import url(https://fonts.googleapis.com/css?family=Oxygen);.headerStyle {
    box-sizing: border-box;
    width: 100%;
    color: #706075;
    font-size: xx-large;
    font-weight: 800;
    font-family: 'Oxygen', sans-serif;
    background-color: lightgray;
    display: inline-flex;

}
.mainSelector {
    padding: 0;
    margin: 0;
    width: 315px;
    height: 50px;
    background-color: lightgray;
    color: #706075;
}.listField{
    width: 315px;
    height: 500px;
    background-color: lightblue;
}
.listItem {
    border : solid 1px black;
    border-radius: 5px;
}