@import url(https://fonts.googleapis.com/css?family=Oxygen);@import url(https://fonts.googleapis.com/css?family=Philosopher);.headerStyle {
    box-sizing: border-box;
    width: 100%;
    color: #706075;
    font-size: xx-large;
    font-weight: 800;
    font-family: 'Oxygen', sans-serif;
    background-color: lightgray;
    display: inline-flex;

}
.listField{
    margin-top: 5px;
    height: 500px;
    width: 110%;
    overflow-y: scroll;
}
.listItem {
    width: 90%;
    padding-left: 5px;
    margin-left: 1%;
    border : solid 1px black;
    border-radius: 5px;
    background-color: white;

    display: flex;
    flex-flow: column nowrap;
}
.shopTitle{
    font-size: x-large;
    font-family: 'Philosopher';

}.contentStyle {
    padding: 0;
    margin-top: -4px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background-color: lightgray;
}
.mainField{
    background-color: white;
    width: 100%;
    height: 30px;
}
.leftBar {
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    overflow: hidden;
    min-width: 250px;
    height: 550px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
.cut {
    padding: 1px;
    width: 110%;
    overflow-y: scroll;

}
.shopsList {
    margin-left: -100px;
    display: flex;


}


@media screen and (max-width: 600px){
    .contentStyle {
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: stretch;

    }
    .leftBar {
        height: 248px;
        width: 90%;
        margin-right: 10%;
        border-bottom: 2px black solid;
    }
    .map {
        padding-top: 3px;
        height: 350px;
    }
    .filter {
        width: 87%;
        min-width: 285px;
    }

}
.map {
    display: flex;
    width: 90%;
    margin-right: 1%;
}

.opened {
    margin-left: 4px;
    border-radius:5px;
    border: 1px solid black;
    height: 30%;
    position: absolute;
    z-index: 100;
    background:white;
    width:239px;
}

.closed {
    margin-left: 2%;
    border-radius:5px;
    height:50px;
    background:white;
    width:95%;
    border: 1px solid black;
}