@import "../itemOfList/itemOfList.css";
@import "../districts/districtsCSS.css";

.contentStyle {
    padding: 0;
    margin-top: -4px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background-color: lightgray;
}
.leftBar {
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    overflow: hidden;
    min-width: 250px;
}


@media screen and (max-width: 600px){
    .contentStyle {
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: stretch;

    }
    .leftBar {
        width: 90%;
        margin-right: 10%;
    }
    .map {
        height: 350px;
    }
    .listField {
        border-bottom: black 2px solid;
    }

}
