@import "../leftBar/leftBarCSS.css";
@import "../map/mapCSS.css";
@import "../shopsList/shopsList.css";
@import "../districts/districtsCSS.css";

.contentStyle {
    padding: 0;
    margin-top: -4px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background-color: lightgray;

}
@media screen and (max-width: 600px){
    .contentStyle {
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: stretch;

    }
    .leftBar {
        width: 90%;
        margin-right: 10% ;
    }
    .yMap {
        width: 90%;
        height: 300px;
        margin-right: 10%;
    }
    .listField {
        border-bottom: black 2px solid;
    }
    .cut {
        width: 100%;
        overflow: hidden;
    }
    .mainSelector {
        width: 98%;
    }

}