@import "../itemOfList/itemOfList.css";
@import "../districts/districtsCSS.css";

.contentStyle {
    padding: 0;
    margin-top: -4px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background-color: lightgray;
}
.mainField{
    background-color: white;
    width: 100%;
    height: 30px;
}
.leftBar {
    margin-top: 60px;
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    overflow: hidden;
    min-width: 250px;
    height: 550px;
    border-bottom: 1px black solid;
}
.cut {
    padding: 1px;
    width: 110%;
    overflow-y: scroll;

}
.shopsList {
    margin-left: -100px;
    display: flex;


}


@media screen and (max-width: 600px){
    .contentStyle {
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: stretch;

    }
    .leftBar {
        height: 248px;
        width: 105%;
        margin-right: 10%;
        border-bottom: 2px black solid;
    }
    .map {
        padding-top: 3px;
        height: 350px;
    }
    .filter {
        width: 87%;
    }
    .filterField{
        width: 89%;
        min-width: 290px;
    }

}
