@import url('https://fonts.googleapis.com/css?family=Oxygen');

.headerStyle {
    box-sizing: border-box;
    color: #706075;
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Oxygen', sans-serif;
    display: flex;
}
