@import url('https://fonts.googleapis.com/css?family=Oxygen');

.headerStyle {
    box-sizing: border-box;
    width: 100%;
    color: #706075;
    font-size: xx-large;
    font-weight: 800;
    font-family: 'Oxygen', sans-serif;
    background-color: lightgray;
    display: inline-flex;

}
