.footer{
    height: 38px;
    text-align: center;
    background-color: rebeccapurple;
    width: 100%;
    min-width: 100px;
}
.form{
    transition: 1s;
    position: absolute;
    top:10%;
    left: 5%;
    width: 85%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 100;
    text-align: left;
    padding-left: 1%;
    min-width: 300px;
}
.btn{
    margin: auto;
    width: 150px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.green {
    background-color: darkgreen;
}
.red{
    background-color: red;
}
.label{
    padding: 1%;
    width: 96%;
}
.input {
    width: 70%;
}
.checkbox{
    display: inline-block;
    width: 120px;
}
.formHeader{
    text-align: center;
}
.validationImg {
    width: 20px;
    height: 20px;
    margin-bottom: -6px;
}
.dayForm {
    border: solid 1px black;
    width : 14.28%;
    text-align: center;
}