.totalForm {
    border: 1px solid black;
}
.workDays{
    border:1px solid green;
    width: 13.5%;
    min-width: 95px;
    height: 200px;
    display: inline-block;
    position: relative;
}
.tmp {
    border:solid red 2px;
    display: inline-block;
}