.totalForm {
    border: 1px solid black;
}
.workDays{
    margin: -1px 0 0 -1px;
    padding: 2px;
    border:1px solid black;
    height: 200px;
    width: 100px;

    justify-content: flex-start;
    align-items: inherit;

    position: relative;
}
.tmp{
    width: 99%;
    overflow-x: scroll;

    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
}
select {
    width: 100%;
}