.workDays{
    padding: 2px;
    height: 200px;
    width: 33%;
    border: solid 1px lightgray;
    justify-content: flex-start;
    align-items: inherit;

    position: relative;
}
select {
    width: 98%;
}
.btn_place {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 98%;
}
.button {
    width: 64px;
    height: 32px;
}
textarea {
    resize: horizontal;
    height: 70px;
    width: 99%;
}
.submitButton {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    height: 35px;
    background: cadetblue;
    cursor: pointer;
    border: 1px solid black;
    color: white;
}