.mainSelector {
    padding: 0;
    margin: 5px 0 0 5px;
    width: 96%;
    height: 50px;
    background-color: lightgray;
    color: #706075;
    border-radius: 5px;
    border: 1px black solid;
    font-size: large;
    color: black;

    text-align-last: center;
    text-align: center;/*FF*/
}